doctype html
html
	head
		title= "NodeBox - TP"
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
	body
		block content
	script.
		var baseRequest = window.location.protocol + "//" + window.location.host + "/";
		// Change file form action
		var inputFile = document.getElementById("inputFile");
		var fileForm = document.getElementById('fileForm');

		inputFile.onchange = function () {
			console.log('on change');
			var file = inputFile.files;
			if(file) {
				var urlRequest = baseRequest + window.location.pathname + '/' + file[0].name;
				fileForm.setAttribute('action', urlRequest);
			}
		};

		// Change folder form action
		var folderForm = document.getElementById('folderForm');
		var folderInput = document.getElementById('folderInput');
		var folderSubmitButton = document.getElementById('folderSubmit');
		folderSubmitButton.onclick = function () {
			var urlRequest = baseRequest + 'folder/' + window.location.pathname + '/' + folderInput.value;
			folderForm.setAttribute('action', urlRequest);
			alert('-->' + forlderForm.getAttribute());
			return false;
		};
