doctype html
html
	head
		title= "NodeBox - TP"
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
	body
		nav(class="navbar navbar-default" role="navigation")
			div(class="container")
				div(class="navbar-header")
					a(class="navbar-brand" href="#")
						img(src="http://s14.postimg.org/j76md93v5/nodebox.png" width="114" height="44" style="margin-top: -7px;")
				div(id="navbar" class="navbar-collapse collapse")
					ul(class="nav navbar-nav")
						li
							img(href="http://postimg.org/image/loidkinrh/")
						li
							a(href="/") Home
						li
							a(href="/tp/") TP

		// Page content
		div(class="container")
			block content
