doctype html
html
	head
		title= "NodeBox - TP"
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
	body
		nav(class="navbar navbar-default" role="navigation")
			div(class="container")
				div(id="navbar" class="navbar-collapse collapse")
					ul(class="nav navbar-nav")
						li
							a(href="/") Home
						li
							a(href="/tp/") TP
						li
							a(href="/contacts/") contacts

		// Page content
		div(class="container")
			block content
